<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movie Recommender</title>

  <link rel="stylesheet" href="../static/style.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  <!-- Bootstrap Scripts & collor scrolling -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</head>

<body>
  <header>
    <div class="collapse bg-dark" id="navbarHeader">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-7 py-4">
            <h4 class="text-white">About</h4>
            <p class="text-muted">This page is a Github project Demo for movie recommendation system including a movie
              analysis
              ,interactive Tableau dashboard, recommender engine and 150 most popular movies.
              The datasets are from the MovieLens website and themoviedb api.

            </p>
          </div>
          <div class="col-sm-4 offset-md-1 py-4">
            <h4 class="text-white">Content</h4>
            <ul class="list-unstyled">
              <li><a href="/bestmovies" class="text-white">Best Movies</a></li>
              <li><a href="/analysis" class="text-white">Movies Analysis</a></li>
              <li><a
                  href="https://public.tableau.com/app/profile/laleh.safarzadeh/viz/Movie_16532812067340/Moviedashboard"
                  class="text-white">Dashboard</a></li>
              <li><a href="/recommender" class="text-white">Movie Recommender</a></li>

            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container d-flex justify-content-between">
        <a href="/" class="navbar-brand d-flex align-items-center">

          <strong>Movie Recommender</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
          aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </header>
  <div class="jumbotron text-center" id="analysis">
    <div class="container">
      <h3 class="reca"><strong>Movie Recommender</strong></h3>
      <p class="lead">This is a Github project Demo for movie recommendation system and data analyzing. Go and
        explor! </p>
      <p>
        <a href="/recommender" class="btn btn-info my-2">Recommender engine</a>
        <a href="/bestmovies" class="btn btn-secondary my-2">See the best movies</a>
      </p>
    </div>
  </div>
  <div class="container-fluid" id="main">
    <div class="row">
      <div class="col mb-4" id="card">
        <div class="card">
          <img src="/static/images/title_cloud.JPG" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Title cloud</h5>
            <p class="card-text">As expected the title cloud graph shows the most common words in movie titles is
              <strong>Man,</strong> <strong>girl</strong> and <strong>Love</strong>.</p>
            <a href="/static/images/title_cloud.JPG"><button type="button"
                class="btn btn-sm btn-outline-secondary">View</button></a>
          </div>
        </div>
      </div>
      <div class="col mb-4" id="card">
        <div class="card h-100">
          <img src="/static/images/versus.JPG" class="zooming" alt="">
          <div class="card-body">
            <h5 class="card-title">Rating histograme</h5>
            <p class="card-text">This graph shows the distribution of IMDB average rating to every movie versus the
              average rating that users give the movies.
            </p>

            <a href="/static/images/versus.JPG"><button type="button"
                class="btn btn-sm btn-outline-secondary">View</button></a>
          </div>
        </div>
      </div>
      <div class="col mb-4" id="card">
        <div class="card h-100">
          <img src="/static/images/year.JPG" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Year Bar chart</h5>
            <p class="card-text">Clearly the number of casting movie increased by year however the year graph shows that
              in 2019 the number of movies decreased and might be considered it as Covid19 affection </p>
            <a href="/static/images/year.JPG"><button type="button"
                class="btn btn-sm btn-outline-secondary">View</button></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col mb-4" id="card">
        <div class="card">
          <img src="/static/images/pie.JPG" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Genres pie chart</h5>
            <p class="card-text">Most genres of the movies are Drama and Comedy.<a
                href="https://grouplens.org/datasets/movielens/">Source</a></p>

            <a href="/static/images/pie.JPG"><button type="button"
                class="btn btn-sm btn-outline-secondary">View</button></a>
          </div>
        </div>
      </div>
      <div class="col mb-4" id="card">
        <div class="card h-100" id="card">
          <img src="/static/images/boxpop.JPG" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Popular movies box chart</h5>
            <p class="card-text">This box chart demonstrats the locality, spread and skewness of user rating data
              through their quartiles. For example A movie like Jurassic park has a huge number of user rates but the
              mean of user rate is near 3.5 </p>
            <a href="/static/images/boxpop.JPG"><button type="button"
                class="btn btn-sm btn-outline-secondary">View</button></a>
          </div>
        </div>
      </div>
      <div class="col mb-4" id="card">
        <div class="card h-100" id="card">
          <img src="/static/images/popularmovie.JPG" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Popular movies bar chart</h5>
            <p class="card-text">This graph shows the 10 most active movie directers and the number of movies that they
              were be directer in .</p>

            <a href="/static/images/popularmovie.JPG"><button type="button"
                class="btn btn-sm btn-outline-secondary">View</button></a>
          </div>
        </div>
      </div>
    </div>

  </div>
  <footer class="footer-section" id="footer">
    <div class="container">
      <br>
      <br>
      <a href="https://www.linkedin.com/in/lalehsafarzadeh/"><i class="social-icon fab fa-linkedin"></i></a>
      <a href="https://laleh-safarzadeh.herokuapp.com/"><i class="social-icon fas fa-address-card"></i></a>
      <a href="mailto: lalesafarzade@gmail.com"><i class="social-icon fas fa-envelope"></i></a>
      <a href="https://github.com/lalesafarzade"><i class="social-icon fab fa-github"></i></a><br>
      <p id="footer">© Copyright Laleh Safarzadeh 2022.</p>

    </div>
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.css"></script>


</body>

</html>